@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background-color: #fafafae7;
    font-family: "SUSE", sans-serif;
}

.hero-bg{
    background: linear-gradient(to left, rgba(211, 183, 245, 0.334), rgba(255, 255, 255, 0.998));
    background-size: 100%;
    background-position: center;
    padding: 3rem 0 3rem 0;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: bold;
}
